<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top" style="display: flex; align-items: center;">
                <!-- Company Logo -->
                <img src="{{ '/img/logo.svg' | prepend: site.baseurl }}" alt="Company Logo" class="logo" style="height: 30px; margin-right: 10px; filter: invert(1);">
                <!-- Site Title -->
                <span style="color: white;">{{ site.title }}</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <!-- Company Logo -->
            <div style="text-align: center; margin-bottom: 20px;">
                <img src="{{ '/img/logo.svg' | prepend: site.baseurl }}" alt="Company Logo" class="logo" style="height: 60px; filter: invert(1);">
            </div>
            <!-- Welcome Text -->
            <div class="intro-lead-in">Welcome To 404 Security!</div>
            <!-- <div class="intro-heading">Your Partner in IT Security, Networking, and Cloud Solutions</div> -->
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>
